<%= tag.turbo_frame(id: "a-component") do %>
  <div>
    <div style="margin-bottom: 1rem">
      Rendered at: <%= Time.current %>
    </div>

    <div style="margin-bottom: 1rem">
      Response type: <%= response_type.titleize %>
    </div>

    <div>Requested variant: <%= request.variant %></div>
    <div>Rendered variant: Compact</div>
  </div>

  <%= form_with(url: root_path, html: { style: "margin-top: 2rem" }) do %>
    <%= hidden_field_tag(:response_type, :turbo_drive) %>
    <%= submit_tag("Request Turbo Drive response") %>
  <% end %>

  <%= form_with(url: root_path, html: { style: "margin-top: 2rem" }) do %>
    <%= hidden_field_tag(:response_type, :turbo_stream) %>
    <%= submit_tag("Request Turbo Stream response") %>
  <% end %>
<% end %>
